@font-face {
  font-family: 'Comic';
  src: url('fonts/BackIssues_reg.otf');
}

.page {
  margin: .5rem;
  background-color: #fff;
  margin-top: 2rem;
  font-family: 'Comic', cursive;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

.dialogue {
  margin: 0;
  padding: .2rem;
  font-size: .65rem;
  background-color: #fff;
  border: 2px solid #353535;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
}

.dialogue--square-1 {
  padding-top: 1rem;
  margin: -2px -2px 0 -2px;
}

.dialogue--square-4 {
  display: inline-block;
  padding-right: .5rem;
}

.dialogue--square-5 {
  display: inline-block;
  padding-right: .5rem;
}

.dialogue--thank-you {
  right: 0;
  display: none;
}

.dialogue--bottom {
  position: absolute;
  bottom: 0;
  padding-right: .5rem;
  margin: 0 -2px -2px -2px;
}

.dialogue--top {
  margin: -2px -2px 0 -2px;
}

.button {
  position: absolute;
  bottom: .25rem;
  left: .25rem;
  padding: .25rem;
  padding-right: .5rem;
  font-family: 'Comic', cursive;
  font-size: .65rem;
  font-style: italic;
  text-transform: uppercase;
  background-color: #ffd740;
  border: 2px solid #353535;
  transform: skew(-2deg) rotate(-2deg);
  cursor: pointer;
}

.header {
  position: absolute;
  top: -1.5rem;
  left: -.25rem;
  transform: skew(-2deg) rotate(-2deg);
  z-index: 3;
  font-family: 'Limelight', cursive;
}

.header__title {
  margin: 0;
  font-size: 1.75rem;
  background-color: #ffd740;
}

.strip-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  height: 10rem;
  width: 100%;
  margin-bottom: .5rem;
}

.strip-2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
  height: 10rem;
  width: 100%;
  margin-bottom: .5rem;
}

.strip-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  height: 10rem;
  width: 100%;
  margin-bottom: .5rem;
}

.square-1 {
  width: 100%;
  background-color: #fff;
  background: url('img/1.jpg') no-repeat bottom center;
  background-size: cover;
  border: 2px solid #353535;
}

.square-2 {
  position: relative;
  width: 100%;
  background-color: #fff;
  background: linear-gradient(135deg, rgba(255, 196, 1, 0.5), rgba(41, 3, 255, 0.5)
  ), url('img/2.jpg') no-repeat bottom center;
  background-size: cover;
  border: 2px solid #353535;
}

.square-3 {
  width: 100%;
  background-color: #fff;
  background: url('img/3.jpg') no-repeat bottom center;
  background-size: cover;
  border: 2px solid #353535;
}

.square-4 {
  width: 100%;
  background-color: #fff;
  background: url('img/4.jpg') no-repeat center center;
  background-size: cover;
  border: 2px solid #353535;
}

.square-5 {
  position: relative;
  width: 100%;
  background-color: #fff;
  background: url('img/5.jpg') no-repeat center center;
  background-size: cover;
  border: 2px solid #353535;
}

.square-6 {
  width: 100%;
  background-color: #fff;
  background: url('img/6.jpg') no-repeat center center;
  background-size: cover;
  border: 2px solid #353535;
}

@media (min-width: 376px) {
  .strip-1 {
    height: 15rem;
  }
  
  .strip-2 {
    height: 12rem;
  }
  
  .strip-3 {
    height: 12rem;
  }
}